[submodule "block8/Trie/lib/googletest"]
	path = block8/Trie/lib/googletest
	url = git@github.com:google/googletest.git
[submodule "block9/Cache/lib/googletest"]
	path = block9/Cache/lib/googletest
	url = git@github.com:google/googletest.git
